body {
    background-color: lightgray;
  }
  
  h1 {
    color: blue;
    font-family: Arial, sans-serif;
  }
  
  
  button {
    padding: 10px 10px;
    border-radius: 5px;
  }

  .save {
    width: 500px;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .log_out {
    position: fixed;
    top: 60px;
    right: 10px;
  }

  .history {
    position: fixed;
    top: 10px;
    right: 10px;
  }

  input[type="number"] {
    width: 100px;
    height: 30px;
  }
  
  input[type="range"] {
    width: 200px;
  }